*.tif
*.asv
/timeSeries1_5005-5007/
/timeSeries1_5005-5007_slices50-249/
/timeSeries1_5005-5007_slices60-186_needleImages/
/save_any/
/regData_5005_5007.mat
/regData2_5005_5007.mat
/InsightToolkit-4.7.1/
/niftiIO/
/niftiFiles/
/regData3_5005-5007.mat
/sampleTIFFvol/
/matlab.mat
/data6-29.mat
*.mat
/bfilter2/
*.nii
/niftiFiles2/
/timeSeriesPt8_5002-5004/
