*.tif
*.asv
/timeSeries1_5005-5007/
/timeSeries1_5005-5007_slices50-249/
/timeSeries1_5005-5007_slices60-186_needleImages/
/save_any/
/regData_5005_5007.mat
/regData2_5005_5007.mat
/InsightToolkit-4.7.1/
/niftiIO/
/niftiFiles/
/regData3_5005-5007.mat
/sampleTIFFvol/
/matlab.mat
/data6-29.mat
*.mat
/bfilter2/
*.nii
/niftiFiles2/
/timeSeriesPt8_5002-5004/
/timeSeriesPt4_5007-5009/
/timeSeriesPt2_5014-5016/
/Pt8ConvDiffVolumes/
/timeSeriesPt1_5007-5009/
/timeSeriesPt5_5012-5014/
/timeSeriesPt5_5021-5023/
/pt8_TempVolume/
/pt4_TempVolume/
/pt9_TempVolume/
/timeSeriesPt3_5004/
/niftiFiles3/
